@media (max-width: 768px) {

    /* full screen the entire container */
    .main-container {
        width: 100%;
        height: 100%;
    }

    /* remove border radius */
    .left {
        border-radius: 0px;
    }

    /* reveal hidden section and apply properties */
    .mobile-selection {
        display: flex !important;
        justify-content: space-around !important;
        margin-top: 30px;
    }

    .mobile-selection div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        color: #fefefe;
        padding: 0px !important;
        width: auto !important;
        background-color: #194F90;
        flex-grow: 1;
        text-align: center;
        transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s, transform 0.2s ease-out;
        padding: 5px 0px !important;
        cursor: pointer;
    }


    /* hover selection */
    .mobile-selection div:hover {
        background-color: #0E2E5E;
    }

    .mobile-selection div:first-child {
        border-radius: 10px 0px 0px 10px;
    }

    .mobile-selection div:last-child {
        border-radius: 0px 10px 10px 0px;
    }


    /* RTU logo and text container */
    .top-1 {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .top-1 span:first-child {
        margin-top: 20px;
        text-align: center;
    }

    .top-1 span:last-child {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }




    .password-input-container .fas.fa-eye, .password-input-container .fas.fa-eye-slash {
        right: 43px;
        transform: translateY(-50%);
    }

    /* vertical line in password box */
    .password-input-container::before {
        right: 75px;
        transform: translateY(-50%);
    }



    /* hide right section */
    .right {
        display: none;
    }


    /* center the form */
    .user-pass-container {
        width: 100%;
        height: auto;
        align-items: center;
    }

    .user-pass-container div {
        width: 100%;
        margin-left: 0px;
        padding: 0px 30px;
    }
}



/* for smaller mobile screens such as Galaxy Fold */
@media (max-width: 360px) {

    /* text school title */
    .top-1 span:first-child {
        font-size: 14px;
    }

    .top-1 span:last-child {
        font-size: 20px;
    }

    /* user and password input box font size */
    .user-pass-container #username, .password-input-container #password {
        font-size: 14px;
    }


    /* button icon and text (smaller) */
    .mobile-selection div:first-child img, .mobile-selection div:last-child img {
        height: 39px !important;
        width: 39px !important;
    }

    .mobile-selection div:nth-child(2) img {
        height: 31px !important;
        width: 31px !important;
    }

    .mobile-selection div {
        font-size: 12px;
    }
}